body{
    /* background-color: yellowgreen; */
    /* background-image: url(""); */
    background-image: linear-gradient(180deg, pink, skyblue);
}
.main{
    background: #fff;
    max-width: 400px;
    width: 100%;
    margin: 120px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 3px 10px 15px rgba(0,0,0,0.1);
  }