body{
    /* background-color: aquamarine; */
    /* background-image: linear-gradient(red,blue); */
    background-image: linear-gradient(skyblue, white);
}
.main{
    background: #fff;
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin: 120px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 3px 10px 15px rgba(0,0,0,0.1);
  }

/* .main{
    text-align: center;
    padding: auto;
    margin-top: 250px;
} */
/* .contect{
    text-align: center;
} */